<!--La page montrant les données personnelles de l'utilisateur-->
<div>
    <img src="{{image}}" class="w-50 rounded mx-auto d-block p-1 img-fluid rounded-circle" alt="photo de profil">
</div>
<div style="display: flex; justify-content: center; align-items: center;">Informations personnelles</div>
<div class="input-group mt-1 px-3">
    <span class="input-group-text ajout" id="basic-addon1">Nom</span>
    <span class="input-group-text form-control ajout2" id="basic-addon1">{{last_name}}</span>
</div>
<div class="input-group mt-1 px-3">
    <span class="input-group-text ajout" id="basic-addon1">Prénom</span>
    <span class="input-group-text form-control ajout2" id="basic-addon1">{{first_name}}</span>
</div>
<div class="input-group mt-1 px-3">
    <span class="input-group-text ajout" id="basic-addon1">Email</span>
    <span class="input-group-text form-control ajout2" id="basic-addon1">{{email}}</span>
</div>
<div class="input-group mt-1 px-3">
    <span class="input-group-text ajout" id="basic-addon1">Téléphone</span>
    <span class="input-group-text form-control ajout2" id="basic-addon1">{{phone_number}}</span>
</div>
<div class="input-group mt-1 px-3">
    <span class="input-group-text ajout" id="basic-addon1">Mot de passe</span>
    <span class="input-group-text form-control ajout2" id="basic-addon1">........</span>
</div>

<div class="px-3">
    <div id="modif" class="btn ajout mx-auto mt-3">Modifier</div>
    <!--<a class="link" href="#uploadphoto">Modifier la photo de profil</a>-->
</div>