<!--La navbar inférieure permettant de se déplacer de l'accueil, aux messages, aux postes de l'utilisateur, aux infos de l'utilisateur-->
<nav class="navbar fixed-bottom bg-body-tertiary bg-primary " data-bs-theme="dark" id="nav-bas">
    <form class="container-fluid justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item px-1">
                <a class="nav-link active px-auto" aria-current="page" href="#home"><img src="svg/home-simple-door.svg" alt="Home" /></a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link link-light px-auto" href="#messagerie"><img src="svg/message-text.svg" alt="messagerie" /></a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link link-light px-auto" href="#poster"><img src="svg/send-mail.svg" alt="poster" /></a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link link-light px-auto" href="#moncompte"><img src="svg/profile-circle.svg" alt="mon compte" /></a>
            </li>
        </ul>
    </form>
</nav>